.product-view{
  margin-top:60px;
}
.owl-nav{
  opacity:0;
}

.owl-prev{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 518px;
}
.owl-next{
  position: absolute;
  top: 0px;
  left: 50%;
  width: 40%;
  height: 518px;
}
.show-all{
  display:flex;
  justify-content: center;
}
