.product-view-skull{
  margin-top:60px;
  margin-right:50px;
  height: 535px;
  border:1px solid #dfe3e9;
  display: flex;
  flex-direction: column;
  .main-image{
    img{
      width:100%;
      height:535px;
      object-fit: cover;
    }
  }
  .slider-image{
     width:47%;
    margin-left: auto;
    margin-right: auto;

    img{

      height:60px;
      object-fit: cover;
      border:4px solid #ffffff;
      cursor: pointer;
      box-sizing: border-box;
      &:hover{
        border :4px solid #7dc242 !important;
      }
      &.selected{
        border :4px solid #7dc242 !important;
      }
    }


  }


}


