<div class="product-view-skull">
  <div class="main-image">
    <img [src]="selectedImage.src" alt="main image">

  </div>
  <div class="slider-image">
      <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let slide of imageStore">
            <ng-template carouselSlide [id]="slide.id">
              <img [src]="slide.src" [ngClass]="{'selected': selectedImage.id === slide.id}" [alt]="slide.alt" (click)="setSrc(slide)" [title]="slide.title">
            </ng-template>
          </ng-container>

         </owl-carousel-o>
  </div>
</div>





