<div class="top-bar">
  <div class="top-bar-banner">
      <h3>FREE US SHIPPING & RETURN</h3>
  </div>
  <div class="top-bar-content">
    <div class="top-left">
      <ul>
        <li>MEN</li>
        <li>WOMEN</li>
      </ul>

    </div>
    <div class="top-left-responsive">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="top-center">
      <img src="../../../assets/images/Oval.svg" alt="oval">
      <img src="../../../assets/images/Oval_green.svg" alt="oval">

    </div>
    <div class="top-right">
      <ul>
        <li>ABOUT</li>
        <li><img src="../../../assets/images/Bitmap.png" alt="Customer"></li>
        <li><img src="../../../assets/images/cart.png" alt="cart"></li>
      </ul>
    </div>
  </div>
</div>

